<div class="container">
    <div class="page-header">
        <h1>New annotation_layer</h1>
    </div>

    <%= render 'form' %>
    <div class="col-sm-12 col-md-12">
        <%= link_to 'Back', annotation_layers_path %>
    </div>
</div>
