
<!--<div class="container">
    <div class="page-header">
        <h1>Ten Thousand Rooms</h1>
        <%#if !current_user.nil? %>
            <h2>You are logged in as <%#==current_user.uid%></h2>
        <%#end %>
    </div>
    <div class="col-sm-12 col-md-12">

        <p id="notice"><%#= notice %></p>

        <p>
            <b>Welcome to the 10,000 Room Annotation Server back end</b>
        </p>

    </div>
</div>-->

<% if (user_signed_in?) %>
    <script type="text/javascript">
        $('document').ready(function() {
            window.opener.postMessage('{"tgToken":"<%==current_user.tgToken%>","UserId":"<%==current_user.uid%>"}', "*");
            window.close();
        })
    </script>
<% end %>
